* {
border: 1px;
    
}
body {
    background-color: lightblue;
}

h1, h2, p {
    text-align: center;
    color: navy;
  }
  
  .top {
    width: 80%;
    background-color: lightskyblue;
    margin-left: auto;
    margin-right: auto;
  }

  .left {
    width: 80%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
  }

  .right {
    width: 80%;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
  }

  .bottom {
    width: 80%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
  }
