body {
    background-color: black;
}
/* Common values for centered elements */
.centered {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* This class styles the entire page */
.box {
    background-color: green;
}

/* This class styles the header part of the website */
.top {
    background-color: lightskyblue;
}

/* This class styles the left side of the website, navigation or menu */
.left {
    background-color: black;
}

/* This class styles the right or main content of the website */
.right {
    background-color: red;
}

/* This class styles the bottom part of the website, the footer */
.bottom {
    background-color: black;
} 